{% extends "base.html" %}

{% block content %}
<!-- ======= Events Section ======= -->
<br><br><br><br><br><br><br><br>
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why us...</h2>
          <p>How are we different from others</p>
        </div>

        <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="100">

          <div class="row event-item">
            <div class="col-lg-6">
              <img src="assets/img/pandemic.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Healthy Living</h3>
              <div class="price">

              </div>
              <p class="font-italic">
               Staying healthy in the face of a global pandemic is top of mind for most of us. But how do we do it? The key: Focus on the immune system.<br><br> It's the body's defense against illness. When it's working well, the immune system can help protect against infections.
                Including essential nutrients as part of a well-balanced diet can improve your overall nutrient intake to support and maintain immune health.You will tell us some particulars about you and we will guide you with tailor-made nutrition plans accordingly.
              </p>

            </div>
          </div>

          <div class="row event-item">
            <div class="col-lg-6">
              <img src="assets/img/diet.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Get to know more about Diets</h3>
              <div class="price">
              </div>
              <p class="font-italic">
               There are various types of diet plans available we will suggest you the most appropriate one.<br>

                And you can also explore more through our website,Check how does it works for you.
              </p>
              <ul>
                <li><i class="icofont-check-circled"></i> Search </li>
                <li><i class="icofont-check-circled"></i> Explore more</li>
                <li><i class="icofont-check-circled"></i> Try one that you are interested in</li>
              </ul>

            </div>
          </div>

          <div class="row event-item">
            <div class="col-lg-6">
              <img src="assets/img/foodpy.jpeg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Note what you eat</h3>
              <div class="price">
              </div>
              <p class="font-italic">
                Get to know about the food that you eat.
                <br>Search for a food and how does it affects your system.
               When you know why you're eating certain things, even when you're not necessarily hungry, then you're going to be better able to take control of what you're eating.
                You care about what you are putting into your body.<br><br>
                Improving the relationship with food can in turn improve the way people eat and their overall health.Eating healthfully has been shown to reduce the risk of obesity, cardiovascular illnesses, and even certain types of cancer.
              </p>

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Events Section -->

  <!-- ======= Why Us Section ======= -->

    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Stay Nourished</h2>
          <p>Tips to improve your health</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Learn Track Improve</h4>
              <p>Keeping a food diary helps you understand your habits and increases your likelihood of hitting your goals.
              Eating well is a form of self respect</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Respect your system</h4>
              <p>Getting at least 8 hours of sleep a night can help keep you motivated throughout the day as you will have more energy to do what is important to you</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4> Stay Motivated</h4>
              <p>There is no need to stick to harder diet plans always.Make healthier choices instead.
              Healthy mind stays in healthy body.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->
  </section>
{% endblock content %}